a {
    text-decoration: none;
    color: initial;
}

.blue-shadow-box {
    box-shadow: 0 8px 16px #71b7ee;
    background: linear-gradient(to bottom right, #eef2ff, #ddeeff);
    margin: 15px;
    padding: 15px;
    border: solid #aaeeff;
}

.blue-shadow-box-0 {
    box-shadow: 0 8px 16px #71b7ee;
    /* background: linear-gradient(to right, rgba(255, 95, 95, 1), rgb(189, 143, 226)) */
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6); */
}

.boxHover {
    transition: all 0.3s ease-in-out;
}

.boxHover:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    background: linear-gradient(to bottom right, #aaeeff, #71b7ee);
    border: none;
}

.main {
    background:
        linear-gradient(to left,  #71b8ee8f, #aaeeff8f)
}