a {
    text-decoration: none;
    color: initial;
}

.blue-shadow-box {
    box-shadow: 0 8px 16px #ee7171;
    background: linear-gradient(to bottom right,  rgba(255, 95, 95, 0.5), rgba(189, 108, 255, 0.5));
    margin: 15px;
    padding: 15px;
}

.blue-shadow-box-0 {
    box-shadow: 0 8px 16px #ee7171;
    background: linear-gradient(to right, rgba(255, 95, 95, 1), rgb(189, 143, 226)),
    url(https://cdn.vuetifyjs.com/images/parallax/material2.jpg) !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.boxHover {
    transition: all 0.3s ease-in-out;
}

.boxHover:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
}


.blueHover:hover {
    background: linear-gradient(to right, rgba(255, 95, 95, 0.5), rgba(189, 108, 255, 0.5));
    border: none;
}

.main {
    background:
        /* linear-gradient(to right, rgba(231, 166, 199, 0.7), rgba(255, 143, 210, 0.8)), */
        linear-gradient(to right, rgba(255, 95, 95, 0.7), rgba(189, 108, 255, 0.7)),
        linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        /* linear-gradient(to right, rgba(0, 123, 255, 0.7), rgba(0, 123, 255, 0.8)), */
        /* linear-gradient(to right, rgba(255, 249, 196, 0.7), rgba(253, 216, 53, 0.8)), */
        url(https://cdn.vuetifyjs.com/images/parallax/material2.jpg) !important;
}